## Acessando o banco de dados SQLite com Python

In [1]:
#--- Remove o banco de dados caso ele exista

import os

In [2]:
os.remove('escola.db') if os.path.exists('escola.db') else None

In [3]:
#--- Importar a biblioteca do sqlite3

import sqlite3

In [4]:
#--- Cria uma conexão com o banco de dados

conexao = sqlite3.connect('escola.db')

In [5]:
type(conexao)

sqlite3.Connection

In [6]:
cursor = conexao.cursor()

In [7]:
#--- Cria uma instrução SQL

sql_create = 'create table cursos '\
'(id integer primary key, '\
'titulo varchar(100), '\
'categoria varchar(140))'

In [8]:
#--- Executando a instrução SQL no cursor

cursor.execute(sql_create)

In [9]:
#--- Criando outra sentença SQL para inserir registros

sql_insert = 'insert into cursos values (?, ?, ?)'

In [10]:
#--- Dados

recset = [(1000, 'Ciência de Dados', 'Data Science'),
          (1001, 'Big Data Fundamentos', 'Big Data'), 
          (1002, 'Python Fundamentos', 'Análise de Dados')]

In [11]:
#--- Inserindo os registros

for registro in recset:
    
    cursor.execute(sql_insert, registro)

In [12]:
#--- Grava a transação

conexao.commit()

In [13]:
#--- Abrindo uma Query

sql_select = 'select * from cursos'

In [14]:
cursor.execute(sql_select)

In [15]:
dados = cursor.fetchall()

In [16]:
#--- Mostrando os dados

for linha in dados:
    
    print('Curso ID: %s, Título: %s, Categoria: %s \n' % linha)

Curso ID: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso ID: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso ID: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

In [17]:
#--- Gerando outros registros
recset = [(1003, 'Gestão de Dados com MongoDB', 'Big Data'),
          (1004, 'R Fundamentos', 'Análise de Dados')]

In [18]:
#--- Inserindo os registros

for registros in recset:
    
    cursor.execute(sql_insert, registros)

In [19]:
#--- Gravando a query

conexao.commit()

In [20]:
cursor.execute('select * from cursos')

In [21]:
rcset = cursor.fetchall()

In [22]:
#--- Mostrando os dados

for linha in dados:
    
    print('Curso ID: %s, Título: %s, Categoria: %s \n' % linha)

Curso ID: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso ID: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso ID: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

In [23]:
#--- Fechando a conexão

conexao.close()